<?xml version='1.0' encoding='utf-8'?>
<widget id="com.codeinstitute.push" 
		version="3.0.0" 
		versionCode = "1.0" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap   = "http://phonegap.com/ns/1.0">
    <name>PushDemo</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="sean@nmm.ie" href="http://nmm.ie">
        Apache Cordova Team
    </author>
    
	<gap:plugin name="com.clone.phonegap.plugins.pushplugin" />
</widget>
